.container
  .row
    .col-md-12.text-center
      %h1 Your Tweets
  .row
    .col-md-12.text-center
      %h3
        Don't see the correct tweets? Enter your username.
      = form_tag("/") do
        = label_tag(:q, "Search for:")
        = text_field_tag(:user_name)
        = submit_tag("Search")
  .row
    - if @tweets
      - @tweets.each do |tweet|
        .col-md-12
          .tweet
            %p
              tweet.text

